---
---

@import "{{ site.theme }}";

.inner {
  max-width: 960px;
}

body {
  background: #f2f2f2;
}

#header_wrap {
  background: #3d85c6;
}

#header_wrap .inner {
  font-weight: bold;
  padding: 10px 10px 0px 10px;
}

#logo {
  display: block;
  position: absolute;
  top: 1px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: 0 0 0;
  max-height: 97%;
}

nav ul {
  padding: 0px;
  list-style: none;
  margin-bottom: 0px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

#main_content_wrap {
  border-top: 0px;
  border-bottom: 0px;
}

#footer_wrap {
  background: #3d85c6;
}

#footer_wrap .inner {
  padding: 0px 4px 4px 10px;
}

#copyright {
  position: absolute;
  right: 4px;
  color: #fff;
}

#disclaimer {
  color: black;
  text-align: justify;
  font-size: 10px;
}
