<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/images/real-ai-favicon.png" type="image/png">
    
    <!-- mathjax -->
    {% if page.mathjax %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}   
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <img id="logo" src="/assets/images/real-ai.png" height="33" width="78" alt="Real AI">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/source/">Source</a></li>
              <li><a href="/about/">About</a></li>
            </ul>
          </nav>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>
    
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <div id="copyright">© 2017 Real AI Limited</div>
        <nav>
          <ul>
            <li><a href="{{site.github.repository_url}}/blob/master/{{page.path}}">View on GitHub</a></li>
            <li><a href="mailto:info@realai.org">info@realai.org</a></li>
          </ul>
        </nav>
        <p>
          DISCLAIMER: This website, including all information and materials contained in this website, is provided on an "as is" basis at your sole risk, without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, title, non-infringement, completeness, reliability, timeliness, availability, and fitness for a particular purpose or use. In no event will Real AI Limited be liable for any claim, damages, or other liability, arising from, out of, or in connection with your using this website.
        </p>
      </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>
